<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <style>
    body{
        background-color: rgba(5, 5, 49, 0.904);
    }
    .login-form {
        background-color: rgb(248, 251, 253);
        padding:50px;
      width: 350px;
      margin: 0 auto;
      margin-top: 50px;
    }
    
  </style>
</head>
<body >
<div>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-12 offset-md-3">
      <div class="login-form">
        <header>
            <h2 style="text-align: center">PURRFECTION</h2>
            </header>
        <h5 class="text-center mb-4" style="padding: 5px;">Login</h5>
        <form id="loginform">
            
          <div class="form-group">
            <label for="email_address">E-mail</label>
            <input type="text" class="form-control" id="email_address" name="email_address" required>
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" name="password" required>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
document.getElementById('loginform').addEventListener('submit', function(event) {
  // Prevent default form submission
  event.preventDefault();

  // Get form data
  const formData = new FormData(this);

  // Convert form data to JSON object
  const userData = {};
  formData.forEach((value, key) => {
      userData[key] = value;
  });

  // Send POST request to backend
  axios.post('/auth/login', userData)
      .then(response => {
        if (response.status==200) {
              // If the login was successful, redirect to user/userhome
              const token = response.data.token;
        
        // Store the token in localStorage
        localStorage.setItem('token', token);
        
        // Redirect to the protected page
              window.location.href = '/user/userhome';
          } else {
              // Handle other status codes if needed
              console.error('Unexpected status code:', response.status);
          }
});
});

</script>

</body>
</html>
