<!--<!DOCTYPE html>
<html>
<head>
    <title>Service Listings</title>
</head>
<body>
    <div id="service-listings"></div>
    <script src="service.js"></script>
</body>
</html>-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Sitting Services</title>
  <!--  <link rel="stylesheet" href="styles.css">-->
</head>
<body>
    <div id="container"></div>
    <button id="vetcare-btn">Pet Sitting Services</button>
    <script src="service.js"></script>
</body>
</html>


